.aside > .mas_visto{
	margin: 50px;
	width: 250px;
	height: 200px;
	background: whitesmoke;
	display: block;
}

.mas_visto > img {
	object-fit: fill;
}
.mas_visto > h2{
	font-size: 20px;
	color: white;
	text-align: center;
	margin-bottom: 50px;
}